This presentation is made with
%a{:href => 'http://haml-lang.com/', :target => '_blank'}haml
and
%a{:href => 'http://imakewebthings.com/deck.js/', :target => '_blank'} deck.js.
It is combined with the
%a{:href => 'https://github.com/ThunderKey/HamlDeckHelper', :target => '_blank'} HamlDeckHelper.